# Intro to Python Data Structures âœ¨

Data structures are basically just that - they are structures which can hold some data together. In other words, they are used to store a collection of related data. There are four built-in data structures in Python - **list, tuple, dictionary and set.**

## Lists
- General purpose
- Most widely used data structure
- Grow and shrink size as needed
- Sequence type
- Sortable

In [ ]:
# Declaring an empty list
x = []
y = list()
print(type(x))
print(type(y))
print(x, y)

**indexing** - access any item in the sequence using its index.\
Indexing starts with 0 for the first element.\
<img src='https://drive.google.com/uc?id=1zw2NICbN-4PtlBXYfmlOCCpLsL2gqpWv' width=500px>

In [ ]:
# string
x = 'frog'
print (x[3], x[-1])

# list
x = ['pig', 'cow', 'horse']
print (x[1], x[-1])

**slicing** - slice out substrings, sublists, subtuples using indexes.\
[start : end+1 : step]

In [ ]:
x = 'computer'
print(x[1:4])
print(x[1:6:2])
print(x[3:])
print(x[:5])
print(x[-1])
print(x[-3:])
print(x[:-2])

**adding / concatenating** - combine 2 sequences of the same type by using

In [ ]:
# string
x = 'horse' + 'shoe'
print(x)

# list
y = ['pig', 'cow'] + ['horse']
print(y)

**multiplying** - multiply a sequence using *

In [ ]:
# string
x = 'bug' * 3
print(x)

# list
y = [8, 5] * 3
print(y)

**checking membership** - test whether an item is or is not in a sequence.

In [ ]:
# string
x = 'bug'
print('u' in x)

# list
y = ['pig', 'cow', 'horse']
print('cow' not in y)

**iterating** - iterating through the items in a sequence

In [ ]:
# item
x = [7, 8, 3]
for item in x:
    print(item)
    
# index & item
y = [7, 8, 3]
for index, item in enumerate(y):
    print(index, item)

In [ ]:
# item
x = "Hello"
for item in x:
    print(item)
    
# index & item
y = "World"
for index, item in enumerate(y):
    print(index, item)

**number of items** - count the number of items in a sequence

In [ ]:
# string
x = 'bug'
print(len(x))

# list
y = ['pig', 'cow', 'horse']
print(len(y))

**minimum** - find the minimum item in a sequence lexicographically.\
Alpha or numeric types, but cannot mix types.

In [ ]:
# string
x = 'bug'
print(min(x))

# list
y = ['pig', 'cow', 'horse']
print(min(y))

**maximum** - find the maximum item in a sequence lexicographically.\
Alpha or numeric types, but cannot mix types.

In [ ]:
# string
x = 'bug'
print(max(x))

# list
y = ['pig', 'cow', 'horse']
print(max(y))

**sum** - find the sum of items in a sequence.\
Entire sequence must be numeric.

In [ ]:
# string -> error
# x = [5, 7, 'bug']
# print(sum(x))    # generates an error

# list
y = [2, 5, 8, 12]
print(sum(y))
print(sum(y[-2:]))

**sorting** - returns a new list of items in sorted order.\
Does not change the original list.

In [ ]:
# string
x = 'bug'
print(sorted(x))

# list
y = ['pig', 'cow', 'horse']
print(sorted(y))
print(y)

**count(item)** - returns count of an item

In [ ]:
# string
x = 'hippo'
print(x.count('p'))

# list
y = ['pig', 'cow', 'horse', 'cow']
print(y.count('cow'))

**index(item)** - returns the index of the first occurence of an item.

In [ ]:
# string
x = 'hippo'
print(x.index('p'))

# list
y = ['pig', 'cow', 'horse', 'cow']
print(y.index('cow'))

**unpacking** - unpack the n items of a sequence into n variables

In [ ]:
x = ['pig', 'cow', 'horse']
a, b, c = x
print(a, b, c)

**List Comprehension**

In [ ]:
a = [m for m in range(8)]
print(a)
b = [i**2 for i in range(10) if i>4]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7]
[25, 36, 49, 64, 81]

**delete** - delete a list or an item in a list

In [ ]:
x = [5, 3, 8, 6]
del(x[1])
print(x)
del(x)    # list x no longer exists
#print(x)

**append** - append an item to a list

In [ ]:
x = [5, 3, 8, 6]
x.append(7)
print(x)

**extend** - append a sequence to a list

In [ ]:
x = [5, 3, 8, 6]
y = [12, 13]
x.extend(y)
print(x)

**insert** - insert an item at a given index

In [ ]:
x = [5, 3, 8, 6]
x.insert(1, 7)
print(x)
x.insert(1, ['a', 'm'])
print(x)

**pop** - pops last item off list and returns item

In [ ]:
x = [5, 3, 8, 6]
x.pop()    # pop off the 6
print(x)
print(x.pop())

**remove** - remove first instance of an item

In [ ]:
x = [5, 3, 8, 6, 3]
x.remove(3)
print(x)

**reverse** - reverse the order of the list. It is an in-place sort, meaning it changes the original list

In [ ]:
x = [5, 3, 8, 6]
x.reverse()
print(x)

**sort** - sort the list in place.\
Note:
 > **sorted(x)** returns a new sorted list without changing the original list x.\
**x.sort()** puts the items of x in sorted order (sorts in place).

In [ ]:
x = [5, 3, 8, 6]
x.sort()
print(x)

## Tuples
- Immutable (canâ€™t add/change)
- Useful for fixed data
- Faster than Lists
- Sequence type

**constructors** - creating new tuples.

In [ ]:
x = ()
x = (1, 2, 3)
x = 1, 2, 3
x = 2,    # the comma tells Python it's a tuple
print(x, type(x))

list1 = [2, 4, 6]
x = tuple(list1)
print(x, type(x))

**tuples are immutable**, but member objects may be mutable.

In [ ]:
x = (1, 2, 3)
# del(x[1])       # fails
# x[1] = 8        # fails
print(x)

y = ([1, 2], 3)   # a tuple where the first item is a list
del(y[0][1])      # delete the 2
print(y)          # the list within the tuple is mutable

(1, 2, 3)
([1], 3)

# MAGIC 8 BALL ðŸŽŠ

Create a Python project of a Magic 8 Ball which is a toy used for fortune-telling or seeking advice.

Note :

- Allow the user to input their question.
- Create 10/20 responses, and show a random response.
- Allow the user to ask another question/advice or quit the game.