## Your First Python Prgram ðŸ¤©
<img src='https://drive.google.com/uc?id=1-7o-EvxGghfr1MP8Qj3PrrLyBNEN9oVA' width=500px>

The print() function prints the specified message to the screen, or other standard output device. The message can be a string, integer, float or any other object. *(Data types are discussed in detail in the coming sections)*

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
print('Hello world!")

SyntaxError: ignored

Suppose you wish to print:\
*Welcome to Upskill!\
This is your first lecture!*\
**And you wish to print it in the same format, i.e. in multiple lines.**

In [ ]:
# Method1: Using multiple print statements
print('Welcome to Upskill!')
print('This is your first lecture!')

Welcome to Upskill!
This is your first lecture!

In [ ]:
# Method2: Using the new line character
print('Welcome to Upskill!\nThis is your first lecture!')

Welcome to Upskill!
This is your first lecture!

In [ ]:
# Method1: Using triple quotes
print('''Welcome to Upskill!
This is your first lecture!''')

Welcome to Upskill!
This is your first lecture!

In [ ]:
print("""Welcome to Upskill!
This is your first lecture!""")

Welcome to Upskill!
This is your first lecture!

**Observations:**
1. The automatic end character is new line, i.e whenever multiple print statements are written they would be printed in separate lines.
2. '\n' is used to add new line.
3. Multi-line strings using triple quotes. End of lines are included by default.

Suppose you wish to print:\
*Welcome to Upskill! This is your first lecture!*\
**But you want to use multiple print statements**

In [ ]:
# Changing the end character
print('Welcome to Upskill!', end = " ")
print('This is your first lecture!')

Welcome to Upskill! This is your first lecture!

In [ ]:
print('Welcome to Upskill!'+  'This is your first lecture!', end = "~")

Welcome to Upskill!This is your first lecture!~

## Types of Quotes in Python

python "World"

In [ ]:
print('Python "World"')

Python "World"

Python's "World"

In [ ]:
print('Python's "World"')

SyntaxError: ignored

In [ ]:
print("Python's " World"")

SyntaxError: ignored

In [ ]:
print("Python's 'World'")

Python's 'World'

In [ ]:
print('''Python's "World"''')

Python's "World"

The problem of Quotes can also be tackled using **Escape Sequnces.**

In [ ]:
print('Python\'s "World"')

Python's "World"

In [ ]:
print("Hello \t World")

Hello 	 World

In [ ]:
print("Hello \b World")

Hello  World

hello :\

In [ ]:
print("hello :\\")

hello :\

Code  | Result
-------------------|------------------
\\'    | Single Quote
\\\      | Backslash
\\n    | Newline
\\t      | Tab
\\b    | Backspace

## Comments!ðŸ¤”
<img src='https://drive.google.com/uc?id=1-5PThfvq2rzB2-5ctti4An7fyQXyiRZr' width=500px>

Comments are the lines that are for documentation purposes and are
ignored by the interpreter. The comments inform the reader what the
program is all about. A comment begins by a hash sign (#). All characters
after the # and up to the physical line end are part of the comment.

In [ ]:
# This is a single line comment

In [ ]:
"""
This is a 
multiple line
COMMENT!!!
"""
print('Hey')

In [ ]:
print("Hey")
print("Welcome to Upskill")

Shortcut to comment out multiple lines of code is to select them and press **ctrl + ?**

## Variables and Data Types in Python

- Variables are containers for storing data values. 
- Python has no command for declaring a variable.
- Variables do not need to be declared with any particular type, and can even change type after they have been set.\
<img src='https://drive.google.com/uc?id=1tamkXPlzFiFEv6FkUsVY5S_GmHNhf744' width=500px>

In [ ]:
name = 'Pragya'
print("Hello", name)

Hello Pragya

### How to take input? ðŸ™„

In [ ]:
num = input()
print(num*10)

4
4444444444

In [ ]:
type(num)

str

In [ ]:
new_num = int(num)
print(new_num*10)

40

In [ ]:
user_name = input("Please enter your name: ")
print("Hello", user_name)

Please enter your name: Manthan
Hello Manthan

### How to name variables? ðŸ˜µ
<img src='https://drive.google.com/uc?id=1WeEW4p33Z4Z2FbsVG4bh298M17_3s9C7' width=350px>

**Rules for variable names:**
- A variable name must start with a letter or the underscore character.
- A variable name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
- Variable names are case-sensitive (name, Name and NAME are three different variables).
- The [reserved words in python](https://realpython.com/lessons/reserved-keywords/) cannot be used for naming the variable.

If we don't declare the variable and try to print the output then we will get the following error

In [ ]:
print(x)

NameError: ignored

### String:

In [ ]:
my_var = "Hello"
print(my_var)
print(type(my_var))

Hello
<class 'str'>

### Integers and Floats

In [ ]:
a = 34
b = 3.14
print("Type of a is:", type(a))
print("Type of b is:", type(b))

Type of a is: <class 'int'>
Type of b is: <class 'float'>

In [ ]:
print("Type of", a, "is:", type(a))

Type of 34 is: <class 'int'>

In [ ]:
print(f"Type of {a} is:", type(a))
print(f"Type of {b} is:", type(b))

Type of 34 is: <class 'int'>
Type of 3.14 is: <class 'float'>

In [ ]:
# multiple assignment
p, q, r = 10, 20, 30
print(f"The numbers are: {p}, {q} and {r}")

The numbers are: 10, 20 and 30

### Booleans

Bool is short for Boolean which can have a value of either True or False. Boolean algebra is the branch of algebra in which the values of the variables are the truth values true or false.

In [ ]:
love_python = True
is_boring = False
# Pay close attention to how True and False are written above.
# "true" and "false" won't be accepted as booleans
print(type(love_python))
print(type(is_boring))

<class 'bool'>
<class 'bool'>

## Operators ðŸ’¥

### Comparison Operators:

Operator  | Description
-------------------|------------------
==    | Check if the value of two operands is equal
!=       | Check if the value of two operands is NOT equal
>   | Check if the value of left operand is greater than the value of right operand
<      | Check if the value of left operand is less than the value of right operand
>=    | Check if the value of left operand is greater than or equal to the value of right operand
<=    | Check if the value of left operand is less than or equal to the value of right operand

They return a boolean after comparison, i.e. if the condition is satisfied they return true, otherwise the return false.

In [ ]:
print(love_python == 1)

True

In [ ]:
print(1 == '1')

False

**String '1' and integer 1 are NOT the same**

In [ ]:
print(1 < '1')

TypeError: ignored

### Addition: âž•

In [ ]:
print(love_python + is_boring)

1

In [ ]:
print(34+3.8)

37.8

In [ ]:
str1, str2 = "Hello", "world"
print(str1 + str2)

Helloworld

**When strings are added they get concatenated**

In [ ]:
print("Hello" + 34)

TypeError: ignored

### Subtraction: âž–

In [ ]:
print(is_boring - love_python)

-1

In [ ]:
print(34 - 3.8)

30.2

In [ ]:
print("Hello" - "World")

TypeError: ignored

**Strings cannot be subtracted!**

### Multiplication: âœ–

In [ ]:
print(love_python*34)

34

In [ ]:
print("Hello"*"World")

TypeError: ignored

In [ ]:
print("Hello"*5)

HelloHelloHelloHelloHello

**Strings CANNOT be multiplied with eachother, BUT if they are multplied by a number, they get concatenated that many times.**

### Division: âž—

In [ ]:
print(34/17)

2.0

Division of two integers will always give **Float**

In [ ]:
print(love_python/34)

0.029411764705882353

In [ ]:
print("Hello"/"World")

TypeError: ignored

In [ ]:
print("Hello"/5)

TypeError: ignored

**Strings cannot be divided by strings or integers**